body{
    background-color: rgba(15, 14, 14, 0.849);
}
.container{
    height: 100vh;
    width: 70vw;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 30rem;
    border-radius: 100px;
    background-color: rgb(24, 23, 23);
}
.reloj-container{
    color: rgb(255, 94, 0) ;
    margin-top: 25%;
    width: 60%;
    height: 20rem;
    font-size: 4rem;
    background-color:rgb(0, 0, 0) ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem auto;
    border-radius: 5px;
    transition: transform .7s;
    cursor: pointer;
    border: rgb(248, 0, 0) 3px solid;
    border-radius: 100px;
}
.reloj-container:hover{
    transform: scale(1.3);
}